.color_0 {
    color: #12B7B3;
}

.backcolor_0 {
    background-color: #12B7B3;
}

.color_1 {
    color: #FFFFFF;
}

.backcolor_1 {
    background-color: #FFFFFF;
}

.color_2 {
    color: #000000;
}

.backcolor_2 {
    background-color: #000000;
}

.color_3 {
    color: #0088CB;
}

.backcolor_3 {
    background-color: #0088CB;
}

.color_4 {
    color: #FFCB05;
}

.backcolor_4 {
    background-color: #FFCB05;
}

.color_5 {
    color: #ED1C24;
}

.backcolor_5 {
    background-color: #ED1C24;
}

.color_6 {
    color: #6C3C17;
}

.backcolor_6 {
    background-color: #6C3C17;
}

.color_7 {
    color: #6C3C17;
}

.backcolor_7 {
    background-color: #6C3C17;
}

.color_8 {
    color: #FFFFFF;
}

.backcolor_8 {
    background-color: #FFFFFF;
}

.color_9 {
    color: #85CCCC;
}

.backcolor_9 {
    background-color: #85CCCC;
}

.color_10 {
    color: #6C3C17;
}

.backcolor_10 {
    background-color: #6C3C17;
}

.color_11 {
    color: #FFFFFF;
}

.backcolor_11 {
    background-color: #FFFFFF;
}

.color_12 {
    color: #EAE5E5;
}

.backcolor_12 {
    background-color: #EAE5E5;
}

.color_13 {
    color: #8B8B8B;
}

.backcolor_13 {
    background-color: #8B8B8B;
}

.color_14 {
    color: #4D4D4D;
}

.backcolor_14 {
    background-color: #4D4D4D;
}

.color_15 {
    color: #000000;
}

.backcolor_15 {
    background-color: #000000;
}

.color_16 {
    color: #F7B8C3;
}

.backcolor_16 {
    background-color: #F7B8C3;
}

.color_17 {
    color: #F093A4;
}

.backcolor_17 {
    background-color: #F093A4;
}

.color_18 {
    color: #E83556;
}

.backcolor_18 {
    background-color: #E83556;
}

.color_19 {
    color: #9B2339;
}

.backcolor_19 {
    background-color: #9B2339;
}

.color_20 {
    color: #4D121D;
}

.backcolor_20 {
    background-color: #4D121D;
}

.color_21 {
    color: #C5EFF1;
}

.backcolor_21 {
    background-color: #C5EFF1;
}

.color_22 {
    color: #A5E0E2;
}

.backcolor_22 {
    background-color: #A5E0E2;
}

.color_23 {
    color: #61D0D4;
}

.backcolor_23 {
    background-color: #61D0D4;
}

.color_24 {
    color: #418B8D;
}

.backcolor_24 {
    background-color: #418B8D;
}

.color_25 {
    color: #204547;
}

.backcolor_25 {
    background-color: #204547;
}

.color_26 {
    color: #F0ECAE;
}

.backcolor_26 {
    background-color: #F0ECAE;
}

.color_27 {
    color: #E0DC84;
}

.backcolor_27 {
    background-color: #E0DC84;
}

.color_28 {
    color: #D1C926;
}

.backcolor_28 {
    background-color: #D1C926;
}

.color_29 {
    color: #8B8619;
}

.backcolor_29 {
    background-color: #8B8619;
}

.color_30 {
    color: #46430D;
}

.backcolor_30 {
    background-color: #46430D;
}

.color_31 {
    color: #F8ADCE;
}

.backcolor_31 {
    background-color: #F8ADCE;
}

.color_32 {
    color: #F184B3;
}

.backcolor_32 {
    background-color: #F184B3;
}

.color_33 {
    color: #EB1572;
}

.backcolor_33 {
    background-color: #EB1572;
}

.color_34 {
    color: #9C0E4C;
}

.backcolor_34 {
    background-color: #9C0E4C;
}

.color_35 {
    color: #4E0726;
}

.backcolor_35 {
    background-color: #4E0726;
}